html {
	/*	height: 100%;*/	
	padding: 0;
	margin: 0;
}

body {
	/*	height: 100%;*/
	padding: 0;
	margin: 0;
	font-family: 'Lora', serif;
}

/*Map Elements*/

.hLights {
	cursor: pointer;
}

/*Top Bar, In General*/

#topBar {
	position: absolute;
	top: 0;
	height: 114px;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	color: #555;
	padding: 7px;
	box-sizing: border-box;
}

/* Left side of the Top Bar*/
	
	#streetInfo
	{
	float: left;
	width: 50%;
	}

	#streetTitleCh {
		font-size: 42px;
		text-transform: uppercase;
		font-style: italic;
		margin-top: 7px;
		margin-bottom: 2px;
		letter-spacing: 13px;
		text-align: center;
	}

	#streetTitleEn {
		font-size: 20px;
		margin-bottom: 15px;
		text-align: center;
	}

	#audioDiv{
		display: table;
    	margin: 0 auto;
	}

/* Right side of the Top Bar*/

	#speakerInfo {
		float: right;
		width: 50%;
	}

	#speakerPhoto {
		float: left;
		margin-right: 10px;
	}

	#speakerStats {
		font-size: 14.5px;
		max-width: 550px;
	}

	#titlePlate {
		background-color: white
	}

/*Info Box, not used currently*/

#infoBox {
	position: absolute;
	bottom: 61px;
	left: 61px;
	width: 271px;
	z-index: 200;
	background: rgba(255, 255, 255, 0.95);
	padding: 20px;
	color: #555;
	outline: 2px solid white;
	outline-offset: 3px;
}

#infoTitle{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

#infoText{
	text-align: left;
	font-size: 15px;
	padding-bottom: 10px;
}

#clickHouse{
	font-size: 15px;
	color: red;