html {
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Lora', serif;
}

#infoBox {
	position: absolute;
	bottom: 61px;
	left: 61px;
	width: 271px;
	z-index: 200;
	background: rgba(255, 255, 255, 0.95);
	padding: 20px;
	color: #555;
	outline: 2px solid white;
	outline-offset: 3px;
}

#infoTitle{
	text-align: center;
	font-size: 20px;
	padding-bottom: 20px;
}

#infoText{
	text-align: left;
	font-size: 15px;
	padding-bottom: 10px;
}

#clickHouse{
	font-size: 15px;
	color: red;
}

#map {
	height: 100%;
	width: 100%;
}

#expBar {
	position: absolute;
	top: 0;
	height: 114px;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	color: #555;
	padding: 7px;
	box-sizing: border-box;
}

/* Left side of the Top Bar*/
#titles
{
float: left;
width: 40%;
}
	#houseTitle {
		font-size: 49px;
		text-transform: uppercase;
		font-style: italic;
		letter-spacing: 13px;
		text-align: center;
	}

	#houseTitleSub {
		font-size: 13px;
		font-size: 18px;
		margin-top: -8px;
		text-align: center;
	}

/* Right side of the Top Bar*/

	#information {
		float: right;
		width: 60%;
	}

	#housePhoto {
		float: left;
		margin-right: 10px;
	}

	#houseStats {
		font-size: 12px;
		max-width: 550px;
	}

	#titlePlate {
		background-color: white
	}


/* Original Sidebar 

#sideBar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 25%;
	background: rgba(255, 255, 255, 0.9);
	font-family: sans-serif;
	color: #555;
	padding: 20px;
	box-sizing: border-box;
}

*/




h1{
	font-size: 21px;
	margin-top: 0;
	margin-left: 5px;
}

/* House Divs*/

#menu {
	position: absolute;
	right: 0;
	text-decoration: underline;
}

.house {
	background: #BDDCF0;
	padding: 20px;
	border-radius: 22px;
	margin-bottom: 29px;
}

.house.hover{
	background: #8ECEFA;
}
	
.houseTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}

.houseInfo {
	font-size: 14px;
}