body, html {
	height: 100%;
	padding: 0;
	margin: 0;
}

#map {
	height: 100%;
	width: 100%;
}

#expBar {
	position: absolute;
	top: 0;
	height: 114px;
	width: 100%;
	background: rgba(255, 255, 255, 0.9);
	font-family: sans-serif;
	color: #555;
	padding: 7px;
	box-sizing: border-box;
}

	#houseTitle {
		font-size: 20px;
		padding: 34px;
		float: left;
	}

	#information {
		float: right;
	}

	#housePhoto {
		float: left;
		margin-right: 10px;
	}

	#houseStats {
		font-size: 13px;
		width: 550px;;
	}


/* Original Sidebar 

#sideBar {
	position: absolute;
	top: 0;
	right: 0;
	height: 100vh;
	width: 25%;
	background: rgba(255, 255, 255, 0.9);
	font-family: sans-serif;
	color: #555;
	padding: 20px;
	box-sizing: border-box;
}

*/




h1{
	font-size: 21px;
	margin-top: 0;
	margin-left: 5px;
}

/* House Divs*/

#menu {
	position: absolute;
	right: 0;
	text-decoration: underline;
}

.house {
	background: #BDDCF0;
	padding: 20px;
	border-radius: 22px;
	margin-bottom: 29px;
}

.house.hover{
	background: #8ECEFA;
}
	
.houseTitle {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}

.houseInfo {
	font-size: 14px;
}